---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
#AlwaysBreakAfterReturnType: All
IndentPPDirectives: BeforeHash

AlignAfterOpenBracket: Align
AlignArrayOfStructures: true
AlignConsecutiveMacros: All
AlignConsecutiveAssignments: All
AlignConsecutiveBitFields: All
AlignConsecutiveDeclarations: All
---
