CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
build
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.o
*.old
*.log
*.wav
venv
.venv
*.lst
*.map
*.size
*.d
*.bin
*.axf
*.swp
*.jlink
.DS_Store
*.v2
*.egg-info
wandb
events.out.tfevents.*
__pycache__
.vscode
