build
dist
nest
Testing
_deps
*.o
./docs/docs/user_guide
./docs/doxygen/doxy_out/rtf
./make/local_overrides.mk
*.old
*.log
*.wav
venv
.venv
*.csv
*.lst
*.map
*.size
*.d
*.bin
*.axf
*.swp
*.jlink
.DS_Store
*.v2
*.egg-info
wandb
events.out.tfevents.*
__pycache__
.vscode
